
<body>
    <div class="container noPad noMarg">
        <h1 class="d-flex justify-content-center title">Algal Blooms</h1>
    </div>
       <div class="parent">
            <ngb-carousel>
                <ng-template ngbSlide class="center">
                    <div>
                        <img src="../../../assets/images/AlgalBloomLake.png" class="size" alt="Random first slide">
                    </div>
                    
                </ng-template>
                <ng-template ngbSlide class="carouselStack">
                    <div class="PicBg"></div>
                    <div>
                        <img src="../../../assets/images/AlgalResidue.png" class="size" alt="Random second slide">
                    </div>
                    
                </ng-template>
            </ngb-carousel>
            <div class ="text-border">
                <h5 class="child center">Although ignored, harmful algal blooms is shown to lead to harmful effects on the wildlife and in the human bodies. Click the page to learn more! </h5>
            </div>
        </div>
</body>