<div class="div bG">
    <div class="container-fluid">
        <div class="row center">
            <div class="col-3">
                <img src="../../../assets/CODE_R3PLY_Logo-removebg-preview.png" alt="Hackathon 2021 logo and Team name">
            </div>
            <div class="col-9">
                <p class="title text-center">Types of HAB and their characteristics</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets//Akashiwo sanguinea.jpg" class="card-img-top"
                        alt="An image of the algae strain Akashiwo Sanguinea">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Akashiwo Sanguinea</h5>
                                    <p class="card-text description">Akashiwo sanguinea, formerly called Gymnodinium
                                        sanguineum or
                                        Gymnodinium
                                        splendens, can form dense blooms,
                                        especially in summer to early fall. It is reported to kill fish and birds.
                                        Mortality may be due
                                        to clogging of shellfish gills,
                                        the production of surfactants, or to oxygen depletion when blooms decay.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">None</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">none described; fish kills possibly due to oxygen
                                        depletion and
                                        bird kills
                                        due
                                        to production of surfactants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Alexandrium-spp.jpg" class="card-img-top imgWidth"
                        alt="An image of the algae strain Alexandrium spp">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Alexandrium spp</h5>
                                    <p class="card-text description">This toxin was first discovered in 1927 after a
                                        shellfish
                                        poisoning event
                                        affected over one hundred people in central California. Saxitoxin is now
                                        recognized as one
                                        of
                                        the most deadly algal toxins. The dinoflagellate Alexandrium catanella produces
                                        saxitoxin,
                                        a highly potent neurotoxin which, if consumed, causes paralytic shellfish
                                        poisoning.
                                        Ingestion
                                        of saxitoxin by humans, primarily through eating shellfish, can result in
                                        numbness, ataxia,
                                        incoherence, and in extreme cases, respiratory paralysis and death.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">Saxitoxins</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">Paralytic shellfish poisoning</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Cochlodinium spp.jpg" class="card-img-top"
                        alt="An image of the algae strain Cochlodinium">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Cochlodinium</h5>
                                    <p class="card-text description">The chain-forming naked dinoflagellate
                                        Cochlodinium, now called
                                        Margalefidinium,
                                        has been found in California waters for over 80 years. In recent years blooms
                                        have been
                                        reported
                                        from San Diego to Monterey Bay. There have been reports of large-scale
                                        mariculture losses of
                                        finfish
                                        and salmon worldwide, though the toxin or mechanism which causes the harmful
                                        effects is
                                        currently unknown.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">Unknown</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">None Described</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Dinophysis spp.jpg" class="card-img-top"
                        alt="An image of the algae strain Dinophysis">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Dinophysis</h5>
                                    <p class="card-text description">Different species of Dinophysis occur in Southern
                                        California
                                        waters on a
                                        regular basis,
                                        and the presence of okadaic acid has been detected in California.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">Okadaic acid</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">Diarrhetic Shellfish Poisoning. DSP is primarily
                                        observed as a
                                        generally
                                        mild gastrointestinal disorder, e.g., nausea, vomiting, diarrhea, and abdominal
                                        pain
                                        accompanied
                                        by chills, headache, and fever.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Lingulodinium spp.jpg" class="card-img-top"
                        alt="An image of the algae strain Lingulodinium">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Lingulodinium</h5>
                                    <p class="card-text description">The dinoflagellate Lingulodinium polyedrum,
                                        formerly Gonyaulax
                                        polyedra,
                                        can form spectacular red colored blooms in warm coastal waters. These “red
                                        tides”
                                        occur frequently along the coast of Southern California.
                                        Lingulodinium polyedrum is also responsible for
                                        magnificent displays of phosphorescence at night. Recent research shows that
                                        this
                                        species may produce a toxin called yessotoxin. The yessotoxins have previously
                                        been included in the diarrhetic shellfish poison group, but the yessotoxin
                                        chemistry and toxicology differ distinctly from the DSP toxin family. </p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">Yessotoxin</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">None described. Blooms may be reddish brown in
                                        color.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Phaeocystis spp.jpg" class="card-img-top"
                        alt="An image of the algae strain Phaeocystis">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Phaeocystis</h5>
                                    <p class="card-text description">Phaeocystis can be found as a colony of cells
                                        encased within a mucus layer, or as single cells.
                                        The colonies may form large blooms and produce foam,
                                        which can accumulate on beaches. Phaeocystis blooms
                                        produce dimethylsulphide, an aerosol, which may
                                        contribute to cloud formation and acid rain.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">none; produces dimethylsulphide</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">none described; large blooms may produce foam</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Prorocentrum spp.jpg" class="card-img-top"
                        alt="An image of the algae strain Prorocentrum spp">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Prorocentrum spp</h5>
                                    <p class="card-text description">Prorocentrum is a dinoflagellate genus containing
                                        several
                                        toxic and harmful species. P. micans is one of the most common species in
                                        the genus Prorocentrum and is found in cold temperate to tropical waters.
                                        This species forms extensive red tides in many parts of the world, though
                                        blooms are usually harmless. It may excrete substances that inhibit diatom
                                        growth, but these substances do not enter the food chain or affect organisms at
                                        higher
                                        trophic
                                        levels.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">none reported</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">none described</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 center">
                <div class="card" style="width: 40rem;">
                    <img src="../../../assets/Pseudo-nitzschia spp.png" class="card-img-top"
                        alt="An image of the algae strain Pseudo-nitzschia spp">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title algae">Pseudo-nitzschia spp</h5>
                                    <p class="card-text description"> In California, DA was first recognized in
                                        September 1991 in
                                        Monterey Bay,
                                        when the deaths of more than 100 brown pelicans and cormorants were linked to DA
                                        poisoning. Since then, the toxin has been implicated in other deaths of marine
                                        mammals
                                        and seabirds between Monterey Bay and San Diego. Some species of the marine
                                        diatom
                                        Pseudo-nitzschia
                                        can produce domoic acid, a naturally occurring but rare amino acid that is toxic
                                        to marine
                                        mammals, seabirds, and to humans. Affected individuals may experience
                                        gastrointestinal
                                        disorders
                                        and neurological problems. One of the primary symptoms, amnesia, led to the
                                        naming of the
                                        syndrome
                                        as Amnesic Shellfish Poisoning. At least nine species of Pseudo-nitzschia are
                                        now known to
                                        produce
                                        DA.
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title algae">Toxin Produced: </h5>
                                    <p class="card-text description">Domoic Acid</p>
                                    <h5 class="card-title algae">Syndrome:</h5>
                                    <p class="card-text description">Amnesic Shellfish Poisoning</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>