<div class="container">
    <div class="row center">
        <div class="col-12">
            <p class="title">Types of HAB and their characteristics</p>
        </div>
    </div>
    <div class="row center">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets//Akashiwo sanguinea.jpg" class="card-img-top" alt="An image of the algae strain Akashiwo Sanguinea">
                <div class="card-body">
                  <h5 class="card-title">Akashiwo Sanguinea</h5>
                  <p class="card-text">Akashiwo sanguinea, formerly called Gymnodinium sanguineum or Gymnodinium splendens, can form dense blooms, 
                    especially in summer to early fall. It is reported to kill fish and birds. Mortality may be due to clogging of shellfish gills, 
                    the production of surfactants, or to oxygen depletion when blooms decay.</p>
                </div>
              </div>
        </div>
    </div>
</div>