.bG {
    background: linear-gradient(#45AD68, #5489A3, #8080807e);
    width: 100%;
    display: block;
}

.heroImg {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}

.full-width {
    background: #80808088;
}

a {
    color: black;
}

a:hover {
    color: #93e4ae;
}

.wrap {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
}

.heroText {
    width: 100%;
    bottom: 100%;
    text-align: center;
}

.btn {
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 2%;
    background-color: #45AD68;
    color: black;
}

.btn:hover {
    background: #5489A3;
}

.btnContainer {
    font-size: 0.875em;
    display: block;
    left: -60px;
    margin-top: 35px;
}