<div class="container-fluid bG">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Back to Main</a>
    <div class="nav_link">
        <ul>
            <a class="navbar-brand" href="http://haedat.iode.org/browseEvents.php" target="_blank">Harmful Algal Event Database</a>
        </ul>
    </div>
    <div class="title">
      <h1>Safety tips for avoiding harmful algal blooms</h1>
    </div>

    <div class="heroImg">
      <img
        src="./assets/algalbloom.jpg"
        class="img-fluid"
        alt="algal bloom lake"
      />
    </div>
  </div>
  <h3 class="full-width mt-2">
    <div class="wrap">Harmful Algal Blooms</div>
  </h3>
  <div class="wrap">
    <p>
      Harmful algal blooms are a major environmental problem in all 50 states.
      Red tides, blue-green algae, and cyanobacteria are examples of harmful
      algal blooms that can have severe impacts on human health, aquatic
      ecosystems, and the economy. <br><span style="color: #ff0000" weight="bold">Algal blooms can be toxic. Keep people and
      pets away from water that is green, scummy or smells bad.</span>
    </p>
  </div>
</div>
