<div class="container-fluid bG">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Back to Main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="title">
      <h1>Safety tips for avoiding harmful algal blooms </h1>
    </div>

    <div class="heroImg">
      <img
        src="../../../assets/image/algalbloom.jpg"
        class="img-fluid"
        alt="algal bloom lake"
      />
    </div>
  </div>
  <h3 class="full-width mt-2">
    <div class="wrap">What causes an algal bloom?</div>
  </h3>
  <div class="wrap">
    <p>
      In fresh water, algal blooms are most likely to form in warm, still waters
      that have a lot of nutrients such as phosphorus and nitrogen. In marine
      and brackish (mixture of fresh and salt water) waters, a harmful algal
      bloom forms under certain environmental conditions, such as when: Existing
      nutrients accumulate near the surface of the ocean. There are increases in
      sea surface temperature. Sea currents change. Climate change also might
      increase the frequency and number of blooms or cause them to be more
      severe in both fresh water and marine waters.
    </p>
  </div>
</div>
