<div class="container-fluid bG">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Back to Main</a>

    <div class="title">
      <h1>Safety tips for avoiding harmful algal blooms</h1>
    </div>

    <div class="heroImg">
      <img
        src="./assets/algalbloom.jpg"
        class="img-fluid"
        alt="algal bloom lake"
      />
    </div>
  </div>
  <h3 class="full-width mt-2">
    <div class="wrap">What is a harmful algal bloom?</div>
  </h3>
  <div class="wrap">
    <p>
      Don't swim or come in direct contact with water that smells bad, looks
      discolored, or has scum on the surface. Don't let pets drink, play, or
      swim in water or eat algae. Stay out of the water if it has dead fish or
      other dead animals in or near it.<br /><br />A harmful algal bloom can
      cause harm by: Producing toxins that can poison humans, fish, seabirds,
      aquatic animals, livestock, wildlife, and household pets (such as dogs)
      that are near the water, drink the water, or swim in the water. Causing
      illness when a person or animal eats fish or shellfish contaminated with
      algal toxins. Becoming dense enough to keep sunlight from reaching the
      lower depths of the water. Removing the oxygen from the water as it
      decomposes, starving fish and plants of oxygen, and damaging the local
      ecology. <br /><br /><span style="color: #ff0000" weight="bold"
        >Algal blooms can be toxic. Keep people and pets away from water that is
        green, scummy or smells bad.</span
      >
    </p>
  </div>
  <div class="btnContainer">
    <button type="button" (click)="toInDepth()" class="btn btn-info">
      Learn More About The Types of HAB
    </button>
    
    <a href="https://www.youtube.com/watch?v=00j0Yef9oJU" target="_blank"
      ><button type="button" class="btn btn-info">
        Video About How Algal Blooms Can Harm Your Health
      </button></a
    >
    <a
      href="https://www.epa.gov/nutrientpollution/effects-environment"
      target="_blank"
      ><button type="button" class="btn btn-info">
        Learn More About The Environmental Effects
      </button></a
    >
  </div>
</div>
