<div class="container-fluid center">
    <div class="row">
        <div class="col-12">
            <h1 class="">Basic Information About HABs</h1>
        </div>
    </div>
</div>
<div class="containe-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <div class="nav_link">
                <ul>
                    <a class="navbar-brand" href="http://haedat.iode.org/browseEvents.php" target="_blank">Harmful Algal
                        Event
                        Database</a>
                    <a class="navbar-brand" href="https://www.cdc.gov/habs/be-aware-habs.html" target="_blank">General
                        Information
                        About Algal Blooms</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1>What is a HAB?</h1>
        </div>
        <div class="col-12">
            <p> An algal bloom is the overgrowth of microscopic algae or algae-like bacteria in fresh, salt, or
                brackish waters.
                Depending on the type of algae or bacteria that cause it, an algal bloom may produce bad-smelling scum,
                foam, froth, or
                a paintlike slick. Algal blooms can be many colors, including blue-green, yellow, brown, pink, and red.
            </p>
            <p>
                Not all algal blooms are toxic, but research indicates that a growing number are. A <b>harmful algal
                    bloom</b>,
                or <b>HAB</b>, is a bloom that produces toxins that are dangerous to humans and potentially other
                organisms.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>What to do if you think you encountered a HAB?</h1>
        </div>
        <div class="col-12">
            <p>
                You can’t tell if a bloom is harmful just by looking at it, and you can’t easily see all blooms.
                People or pets can get sick when they have contact with harmful algal blooms in these ways:
                swimming, kayaking, fishing, wading, or doing similar activities in contaminated water.
                Breathing in tiny water droplets, mist, or wind-blown sea spray that contains toxins.
                Drinking contaminated water.
                Eating contaminated seafood (fish or shellfish).
            </p>

            <b>When in Doubt, Stay Out!</b>

            <p>
                When visiting lakes, rivers, or oceans, check your local water conditions. Follow any advice your state
                or local
                environmental health department posts online or near the water. If a health notice is posted or if you
                suspect a harmful algal bloom may be in the water, follow these recommendations:
            </p>

            <li>
                Don’t swim or come in direct contact with water that smells bad, looks discolored, or has scum on the
                surface.
            </li>
            <li>
                Don’t let pets drink, play, or swim in water or eat algae.
            </li>
            <li>
                Stay out of the water if it has dead fish or other dead animals in or near it.
            </li>
            <li>
                Know the health risks of eating contaminated fish and shellfish and follow warnings.
            </li>
            <li>
                Follow guidance from your local health officials if you learn about a harmful algal bloom in your area
                or if you are notified that your tap water contains algal toxins.
            </li>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 ">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-10 center">
            <img src="../assets/LindonMarina.jpg" class="size" alt="LindonMarina">
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="container mt-2 marginBottom">
    <div class="row">
        <!-- <div class="col-12 center">
            <button type="button" class="btn btn-primary center marginTop1">Report Algae</button>
        </div> -->
        <div class="col-6 center">
            <button type="button" (click)="toAbout()" class="btn btn-primary center marginTop1">More About HABs</button>
        </div>
        <div class="col-6 center">
            <button type="button" (click)="toInDepth()" class="btn btn-primary center marginTop1">Learn More</button>
        </div>
    </div>
</div>