/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.bG {
    background: linear-gradient(#45AD68, #5489A3, #808080);
}

